<a href="https://colab.research.google.com/github/Rhonan2/CPE-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [5]:
week =  ["Sunday","Monday","Tuesday","wednesday","Thursday","Friday","Saturday"]
for w in week:
  print(w)

Sunday
Monday
Tuesday
wednesday
Thursday
Friday
Saturday

The Break Statement

In [6]:
#Break Statement
week =  ["Sunday","Monday","Tuesday","wednesday","Thursday","Friday","Saturday"]
for w in week:
  print(w)
  if w== "Thursday":
    break

Sunday
Monday
Tuesday
wednesday
Thursday

In [8]:
#Break Statement
week =  ["Sunday","Monday","Tuesday","wednesday","Thursday","Friday","Saturday"]
for w in week:
  if w== "Thursday":
    break
  print(w)

Sunday
Monday
Tuesday
wednesday

Looping through a String

In [9]:
#Looping through a string
for a in "weeks":
  print(a)

w
e
e
k
s

The Range Function

In [21]:
print("Example 1")
for z in range(6):
  print(z)
print("\n")
print("Example 2")
for z in range(2,6):
  print(z)

Example 1
0
1
2
3
4
5


Example 2
2
3
4
5

Nested Loops

In [22]:
adj = ["red","big","tasty"]
fruits = ["apple","Banana","cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red Banana
red cherry
big apple
big Banana
big cherry
tasty apple
tasty Banana
tasty cherry

##Python While loops

In [27]:
n=3
i = 1
while i <= n:
  print("ako si rhonan")
  i = i+1

ako si rhonan
ako si rhonan
ako si rhonan

In [24]:
i = 1
while i < 6:
  print(i)
  i = i+1

1
2
3
4
5

In [26]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i+1

1
2
3

In [3]:
i = 1
while i < 6:
    i = i+1
    if i == 3:
      continue
    print(i)

2
4
5
6

The Else Statement

In [9]:
i = 1
while i < 6:
  print(i)
  i = i+1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [15]:
#Application 1: Create a Python program that displays Hello 1 to Hello 10
n=10
i = 0
while i <= n:
  print("Hello",i)
  i = i+1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [16]:
#Application 2: Create a Python program that displays integers less than 10 but not less than 3
i = 3
while i < 10:
  print(i)
  i=i+1

3
4
5
6
7
8
9